.details-button1{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.conf-details-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



